/* Responsive for smaller desktop and laptop screens */

@media only screen and (max-width: 1600px){
    /* GENERAL */
        
    .master-width{
        width: 70%;
    }

    .sm-hr{
        width: 10%;
    }

    /* INTRO/HOME */
    
    .intro-section .img-cont{
        width: 23%;
    }

    .intro-section p{
        font-size: 1.2em;
    }

    /* CREDITS */

    .list-cont{
        width: 95%;
    }

    .list-cont li{
        font-size: 0.9em;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #credits iframe{
        margin: 35px 0 60px 0;
        height: 350px;
    }
}

@media only screen and (max-width: 1300px){
    /* GENERAL */
        
    .master-width{
        width: 78%;
    }

    /* INTRO/HOME */

    .intro-section .img-cont{
        width: 28%;
    }

    .intro-section p{
        font-size: 1.2em;
    }   

    /* CREDITS */

    .list-cont{
        width: 95%;
    }

    .list-cont li{
        font-size: 0.9em;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #credits iframe{
        margin: 35px 0 60px 0;
        height: 350px;
    }

    /* DISCOGRAPHY */

    .catalogue-key h6 {
        font-size: 1.8vw !important;
    }

    .track h6 {
        font-size: 0.9em;
    }

    .track .writers {
        width: 34%;
    }
    
    .track .artists {
        width: 28%;
    }
}

@media only screen and (max-width: 1150px){

    /* GENERAL */

    .icon {
        padding: 0 1.2vw 0 0;
    }

    .master-width{
        width: 83%;
    }

    /* INTRO */

    .intro-section .img-cont {
        margin: 0 4vw 0 0;
        width: 25%;
    }

    .intro-section h1 {
        font-size: 4vw;
        padding: 0 0 0 0;
    }

    .intro-section .flex-row .text-link {
        font-size: 1.8vw;
    }
    
    .intro-section .flex-row i {
        font-size: 1.8vw;
    }

    .intro-section .vertical-spread p {
        font-size: 1.56vw;
        line-height: 2.4vw;
    }

}