.profilehtml, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ABOVE IS CSS RESET */

/* GENERIC USE CLASSES AND MISC */

html {
    scroll-behavior: smooth;
}

body {
    background: #1f1f1f !important;
    color: #fff !important;
}

.master-width {
    width: 70% !important;
    margin: 0 auto;
}

a:hover {
    text-decoration: none !important;
}

.text-link {
    color: #fff;
    text-decoration: underline;

    transition: 0.15s;
}

.text-link:hover {
    color: #ffa034;
    text-decoration: underline !important;

    transition: 0.15s;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 500;
}

.icon {
    color: #ffb259;
    font-size: 1.5em;
    padding: 0px 15px 0 0;
    margin: 0;
    transition: 0.2s;
}

.icon:hover {
    color: #fff;
    transition: 0.2s;
}

.header1 {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 2.6em;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center;
}

.sm-hr {
    background: #7a7a7a;
    border: solid 2px #7a7a7a;
    width: 125px;
}

.list-cont {
    width: 90%;
    margin: 0 auto;
}

.center-list {
    text-align: center;
    list-style-position: inside;
    width: auto;
    margin: 0 auto;
}

ul {
    text-align: left;
    font-weight: 300;
    color: #ffffff;
    font-size: 1.6em;
    line-height: 30px;
}

ul li {
    padding: 12px 0 12px 15px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.baseline {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vertical-spread {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

/* NAV SPECIFIC CLASSES */

/* Using ID instead of class for JS */
#navbar {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(14, 14, 14, 1);
    box-shadow: #0e0e0e 0px 0px 10px;
    height: 65px;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0px;
    transition: top 0.3s;
}

.navCont {
    width: 35vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

nav a {
    padding: 4px 0px;
    font-size: 1.1vw;
    color: #fff;
    border: solid rgba(255, 255, 255, 0) 1px;
    transition: .2s;
}

nav a:hover {
    color: #ffa034;
    padding: 0px 0px;
    border-bottom: solid #fff 1px;
    border-top: solid #fff 1px;
    transition: .2s;
}

/* HOME SPECIFIC CLASSES */

#home {
    font-family: 'Quicksand', sans-serif;
    padding: 50px 0 0px 0;
    height: 90vh;
}

.intro-section {
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 100px 0 25px 0;
}

.intro-section .vertical-spread {
    width: 78%;
}

.intro-section .flex-row .text-link {
    font-size: 1.5em;
    font-weight: 500;
    font-style: normal;
    color: #ffb259;
    margin: 0 0 0 0;
    padding: 0 10px 0 5px;
}

.intro-section .flex-row .text-link:hover {
    color: #fff;
}

.intro-section h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 3.3em;
    padding: 0 10px 0 0;
    color: #fff;
}

.intro-section p {
    margin: 10px 0 0 0;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 32px;
}

.intro-section .img-cont {
    width: 22%;
    margin: 0 45px 0 0;
    position: relative;
    display: block;
}

.intro-section img {
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.img-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 0 60px 0;

    width: 100%;
}

.img-row h5 {
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
    padding: 12px 0;
}

.img-row-item {
    width: 18%;
}

.img-row-cont {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.img-row-cont img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    transition: transform 0.5s;
}

.img-row-cont:hover img {
    transform: scale(1.05);
    transform-origin: 50% 50%;
    transition: transform 0.5s;
}

.img-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 0px;
    transition: 0.1s ease;
}

.img-overlay:hover {
    opacity: 1;
    transition: 0.1s ease;
}

#play-button {
    position: absolute;

    display: flex;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid #8d8d8d;
    outline: none;
    color: #fff;
    background: none;
    transition: 0.025s ease;
}

#play-button:hover {
    transform: scale(1.05);
    border-color: #fff;
    transition: 0.025s ease;
}

#play-button:active {
    transform: scale(1);
    border-color: #8d8d8d;
    transition: 0.025s ease;
}

#play-button i {
    font-size: 1.5em;
    padding: 0 0 0 5%;
    margin: 0 auto;
    line-height: 0;
    transition: 0.025s ease;
}

#play-button:hover i {
    transition: 0.025s ease;
}

#play-button:active i {
    color: #8d8d8d;
    transition: 0.025s ease;
}

.playing #play-button i {
    transform: scale(0.9, 1.1);
    padding: 0 0 0 0;
}

/* CREDITS SPECIFIC CLASSES */

#credits {
    padding: 100px 0;
    background: #303030;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#credits iframe {
    margin: 60px 0 70px 0;
    border-radius: 15px;
    box-shadow: #141414 0px 0px 5px;
    transition: 0.3s;
}

#credits iframe:hover {
    box-shadow: #141414 0px 0px 15px;
    transition: 0.3s;
}

/* CATALOGUE SPECIFIC CLASSES */

#catalogue {
    padding: 100px 0;
    margin: 0 0 150px 0;
}

.discographyTextCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.discographyTextCont h1 {
    font-size: 3.4em;
}

.discographyTextCont i {
    color: #ffa42d;
    margin: 0 15px 0 0;
    font-size: 4em;

    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.discographyTextCont .sm-hr {
    width: 100%;
}

.catalogue-key-cont {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    height: auto !important;
    border: none !important;
}

.catalogue-key-cont #play-button {
    visibility: hidden;
}

.catalogue-key-cont::-webkit-scrollbar-track {
    background: none !important;
}

.catalogue-key {
    border: none !important;
}

.catalogue-key h6 {
    font-size: 1.5vw;
}

.catalogue-key i {
    font-size: 1.4vw;
    margin: 0 0 0 auto;
}

.playlist {
    width: 100%;
    height: 60vh;
    max-height: 60vh;
    overflow-y: scroll;
    box-sizing: content-box;
    border-top: solid 2px #fff;
    border-bottom: solid 2px #fff;
}

.playlist::-webkit-scrollbar {
    width: 8px;
}

.playlist::-webkit-scrollbar-track {
    background: #313131;
    border-radius: 10px;
    margin: 15px 0;
}

.playlist::-webkit-scrollbar-thumb {
    background: #777777;
    border-radius: 10px;
}

.playlist::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px;
}

.playlist::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-bottom: 10px;
}

.track {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 99%;
    height: 60px;
    padding: 0;
    border-top: solid 1px #494949;
    border-bottom: solid 1px #494949;
}

.track div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.track #play-button {
    position: relative;
    transform: scale(0.6);
    border: 3px solid #8d8d8d;
}

.track #play-button:hover {
    border: 3px solid #ffffff;
    transform: translate();
}

.track #play-button:active {
    border: 3px solid #8d8d8d;
}

.track h6 {
    padding: 5px 0 0 0;
}

.track .song {
    width: 30%;
}

.track .writers {
    width: 30%;
}

.track .artists {
    width: 30%;
}

.track .time {
    margin: 0 0 0 auto;
}

/* MUSIC PLAYER SPECIFIC CLASSES */

.master-audio-cont {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 110px;
}

.audio-player {
    position: relative;
    bottom: 0;

    font-family: 'Raleway', snas-serif;
    background-color: #0a0a0a;
    box-shadow: 6px 0px 15px 2px rgb(0, 0, 0);

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 5px;
}

.audio-progress-cont {
    position: fixed;
    bottom: 110px;
    z-index: 1;

    width: 100%;
    height: 4px;
    background: #fff;
}

.audio-progress {
    width: 30%;
    height: 100%;
    background: #ffa42d;
}

.volume-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.volume {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;

    margin: 0 15px 0 0;
}

.volume-progress-cont {
    position: relative;
    bottom: auto;
    top: auto;

    width: 175px;
    height: 4px;
    background: #fff;

    margin: 0 20px 0 10%;
    border-radius: 50px;
    overflow: hidden;
}

.volume-progress {
    width: 50%;
    height: 4px;
    background: #ffa42d;
}

.track-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 75%;
}

.track-info img {
    height: 100%;
    object-fit: contain;
    margin: 0 0 0 5px;
}

.track-info div {
    margin: 0 0 0 20px;
}

.track-info h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.track-info h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: 15px;
}

.controller {
    position: absolute;
    bottom: 0;
    transform: translate(calc(50vw - 50%));
    z-index: 1;

    width: 200px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.controller #play-button {
    background: #fff;
    border: none;
}

.controller #play-button:hover {
    background: #8d8d8d;
}

.controller #play-button i {
    color: #000;
}

.skip {
    font-size: 1.1em;
    background: none;
    outline: none !important;
    border: none;
    color: #a7a7a7;

    margin: 0 50px;

    transition: 0.05s;
}

.skip:hover {
    color: #fff;

    transition: 0.05s;
}

.skip:active {
    color: #c3c3c3;

    transition: 0.05s;
}

.skip div {
    height: 100%;
    width: 2px;
    background: #fff;
}